/**
* GENERAL
*/
#foursquare-integration h2{padding:0.4em;}
#foursquare-integration ul li{list-style-type: none;}
#foursquare-integration .hide{display:none;}

/**
* CURRENT LOCATION
*/
#foursquare-integration .current-location{}
#foursquare-integration .current-location .welcome span{display: block;}
#foursquare-integration ul.current-location{margin-left: 50px;}
#foursquare-integration ul.current-location li{clear:both;}
#foursquare-integration ul.current-location .label{float:left;}
#foursquare-integration ul.current-location .value{float:right;}

/**
* CATEGORIES
*/
#foursquare-integration .categories{padding:1em;clear:both;}
#foursquare-integration .categories li{padding:0.5em;}
#foursquare-integration .categories li a:hover{text-decoration: none;}
#foursquare-integration .categories li a span.current{text-decoration: underline;}
#foursquare-integration .categories li .info::after{content: " | "}
#foursquare-integration .categories li .thumbnail img{background-color: #c0c0c0;}

/**
* VENUES
*/
#foursquare-integration .venues-near-you li{padding:1em;border: 1px solid #c0c0c0;margin-bottom: 1em;}
#foursquare-integration .venues-near-you li img{background-color: #c0c0c0;}
#foursquare-integration .venues-near-you li .alert{background-color: transparent; border: none;padding: .75rem 0;}

/**
* VENUE DETAILS
*/
#foursquare-integration .venue-details .details{padding:1em;border: 1px solid #c0c0c0;margin-bottom: 1em;}
#foursquare-integration .venue-details .details .verified{color:#155724;}
#foursquare-integration .venue-details .details .error{color: #856404;}

/*#foursquare-integration .venues-near-you, 
#foursquare-integration .venues-near-you.details{background: #c0c0c0;padding:1em;}*/

/*#foursquare-integration .container img.logo{max-width:250px;}
#foursquare-integration .footer{border-top: 1px solid #c0c0c0;padding:1em;margin-top:1em;}*/